@page "/socha1"

<PageTitle>Item 1</PageTitle>

<section class="relative">
    <div class="-z-1 pointer-events-none absolute bottom-0 left-1/2 -translate-x-1/2 transform" aria-hidden="true">
        <svg width="1360" height="578" viewBox="0 0 1360 578" xmlns="http://www.w3.org/2000/svg">
            <defs>
                <linearGradient x1="50%" y1="0%" x2="50%" y2="100%" id="illustration-01">
                    <stop stop-color="#FFF" offset="0%"></stop>
                    <stop stop-color="#EAEAEA" offset="77.402%"></stop>
                    <stop stop-color="#DFDFDF" offset="100%"></stop>
                </linearGradient>
            </defs>
            <g fill="url(#illustration-01)" fill-rule="evenodd">
                <circle cx="1232" cy="128" r="128"></circle>
                <circle cx="155" cy="443" r="64"></circle>
            </g>
        </svg>
    </div>
    <div class="mx-auto max-w-6xl px-4 sm:px-6">
        <div class="pb-12 pt-32 md:pb-20 md:pt-40">
            <div class="pb-12 text-center md:pb-16">
                <h1 class="leading-tighter aos-init aos-animate mb-4 text-5xl font-extrabold tracking-tighter md:text-6xl" data-aos="zoom-y-out">
                    Item
                    <span class="bg-gradient-to-r from-green-500 to-teal-400 bg-clip-text text-transparent">One</span>
                </h1>
                <div class="mx-auto max-w-3xl">
                    <p class="aos-init aos-animate mb-8 text-xl text-gray-600" data-aos="zoom-y-out" data-aos-delay="150">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et, egestas tempus tellus etiam sed. Quam a scelerisque amet ullamcorper eu enim et fermentum, augue. Aliquet amet volutpat quisque ut interdum tincidunt duis.
                    </p>
                  
                </div>
            </div>
          
        </div>
    </div>
</section>
<section class="relative">
    <VerticalLine/>
    <div class="relative mx-auto max-w-6xl px-4 sm:px-6">
        <div class="pt-12 md:pt-20">
            <div class="mx-auto max-w-3xl pb-12 text-center md:pb-16">
                <h1 class="h2 mb-4">Some explanation about the project</h1>
                <p class="text-xl text-gray-600">
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat cupidatat.
                </p>
            </div>
            <div class="mx-auto max-w-3xl pb-12  md:pb-16 flex flex-col gap-4">

                
                  <p>
                                    <img class="max-w-[400px] max-h-[200px] mx-auto" src="imgs/img1.jpg" alt=""/>
                                </p>
                
                <div class="text-xl text-gray-600 text-justify mb-4">
                    <a class="text-xl underline text-blue-700" href="Socha1"> See the details.</a>
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat cupidatat.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
                    more lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat cupidatat.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
                    more lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.

                    <div class="mt-2">
                        <a class="text-xl underline text-blue-700" href="https://bst.coach"> Read more about the partner project.</a>
                    </div>
                </div>
                <div class="flex items-center justify-center">

                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3445.945120811304!2d25.80234801240227!3d57.03768846621329!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46e979963b489c6b%3A0x20f43dfd3a15a75b!2sEzerkrasti!5e0!3m2!1scs!2scz!4v1694707348986!5m2!1scs!2scz" width="600" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="text-xl text-gray-600 text-justify mb-4">
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat cupidatat.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
                    more lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
                </div>
                <p>
                    <img class="max-w-[400px] max-h-[200px] mx-auto" src="imgs/img2.jpg" alt=""/>
                </p>

                <div class="text-xl text-gray-600 text-justify mb-4">
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat cupidatat.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
                    more lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
                </div>
                
                <p>
                    <img class="max-w-[400px] max-h-[200px] mx-auto" src="imgs/img3.jpg" alt=""/>
                </p>
                
                <div>
                    <div id="disqus_thread"></div>
                    <script>
                        var disqus_config = function () {
                        this.page.url = 'https://beyond-skills-training-global.github.io/SochyOut/socha1';  
                        this.page.identifier = 'https://beyond-skills-training-global.github.io/SochyOut/socha1'; 
                        };
                        (function() { // DON'T EDIT BELOW THIS LINE
                        var d = document, s = d.createElement('script');
                        s.src = 'https://sochy-1.disqus.com/embed.js';
                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                        })();
                    </script>
                </div>
            </div>
        </div>
    </div>
    <VerticalLine/>
</section>